# 1. 虚拟环境与依赖
venv/
env/
__pycache__/
*.py[cod]
.venv/

# 2. 重要环境变量 
.env
*.secret

# 3. 媒体缓存与临时文件 
*.mp4
*.wav
*.avi
*.mp3
/tmp/
temp/
logs/
.cache/

# 4. IDE 与系统配置文件
.vscode/
.idea/
.DS_Store
uploads/
*.xlsx